@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap");
@import "tailwindcss";

@theme{
  --font-hahmlet: "Hahmlet", serif;
  --color-translucentwhite: rgba(255, 255, 255, 0.05);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: #000;

}

.active_link{
  color: oklch(76.9% 0.188 70.08);
}